
// Contenedor principal
.content {
  display: flex;
  margin: 0 auto;
  background: rgb(255, 255, 255) !important;
  border-radius: 20px ;
  padding: 0.5rem 2rem;
  max-width: 410px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
  margin-top: 1%;
 
}

// Main dentro de content

// Formulario
.login-form {
  margin: auto; // centra dentro del content
  text-align: center;

  .logo {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200px;
    
  }

  h3 {
    font-family: 'Gilroy-ExtraBold', sans-serif !important;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }

  label {
    display: block;
    margin: 5px 0;
    font-family: 'Gilroy-Light', sans-serif;
    font-weight: 600;
        color: rgb(2, 2, 2);

  }

  input {
    padding: 8px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #b4b4b4;
  }

  button {
    
    color: white;
    font-family: 'Gilroy-Light', sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2%;

  }
}

@media (max-width: 576px) { 
    .content{
        width: 85%;
        padding: 0.5rem 2rem;
        margin-top: 5%;
        
    }
    .logo{
        max-width: 250px;
    }
    .button{
        margin-top: 1%;
    }
    .logo{
      width: 100px;
    }
 }